---
import { problems } from '@/lib/problems';
import RootLayout from '../../layouts/RootLayout.astro';
import { slugify } from '@/lib/utils';
import LaTexRenderer from '@/components/LaTexRenderer.astro';
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator,
} from '@/components/ui/breadcrumb';
import ProblemPreview from '@/components/problems/preview/ProblemPreview.astro';

export function getStaticPaths() {
  return problems.map((problem) => ({
    params: {
      slug: slugify(problem.name),
    },
  }));
}

const { slug } = Astro.params;

import latex from '/public/sample/bilevel.tex?raw';

const problem = problems.find((problem) => slugify(problem.name) === slug)!;
---

<RootLayout>
  <Breadcrumb>
    <BreadcrumbList>
      <BreadcrumbItem>
        <!-- @ts-ignore -->
        <BreadcrumbLink href="/problems"> Problems </BreadcrumbLink>
      </BreadcrumbItem>
      <BreadcrumbSeparator />
      <BreadcrumbItem>
        <BreadcrumbPage>{problem.name}</BreadcrumbPage>
      </BreadcrumbItem>
    </BreadcrumbList>
  </Breadcrumb>

  <h1 class="mt-4">{problem.name}</h1>

  <div class="grid gap-4 md:grid-cols-2">
    <div>
      <p class="mt-6 max-w-3xl leading-7">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto molestias impedit natus
        nulla officiis. Pariatur rerum ipsum laudantium minima nobis dolore necessitatibus quos,
        velit veniam! Ex nihil placeat voluptate saepe?
      </p>

      <p class="mt-6 max-w-3xl leading-7">
        Vero esse dolores reprehenderit provident rerum dicta, veniam magni iure exercitationem
        dolore. Ut alias consequatur architecto consectetur deserunt illum aperiam, accusamus
        laboriosam. Facere temporibus similique provident voluptatibus nostrum cumque voluptatem,
        eveniet quam iusto officia illum ut iure officiis praesentium, qui exercitationem neque
        saepe earum error dolores aliquid voluptas esse quia? Doloremque, inventore maxime!
        Provident dolor perferendis necessitatibus consequuntur similique culpa officia eius.
      </p>

      <LaTexRenderer tex={latex} />

      <p class="mt-6 max-w-3xl leading-7">
        Magnam magni perferendis voluptatibus nobis vel sunt ipsa consectetur molestiae, nemo
        laudantium aut esse sit commodi, eius saepe sequi. Vero ullam odit numquam cum dolor dolore
        aperiam earum ipsam minima.
      </p>
    </div>

    <ProblemPreview problem={problem} />
  </div>
</RootLayout>
