---
import RootLayout from '../../layouts/RootLayout.astro';
import Datatable from '../../components/problems/Datatable.vue';
import { Button } from '@/components/ui/button';

import { problems } from '@/lib/data';
---

<RootLayout>
  <h1>Problems</h1>

  <p class="text-muted-foreground mt-6 max-w-3xl leading-7">
    Click on a problem name for further details.
  </p>

  <Datatable problems={problems} client:load>
    <p class="text-muted-foreground text-sm" slot="bottom-right">
      Want to download multiple problems?
      <Button variant="link" class="p-0">
        <a href="/downloads"> Download full collection </a>
      </Button>
    </p>
  </Datatable>
</RootLayout>
