---
import RootLayout from '../../layouts/RootLayout.astro';
import Datatable from '../../components/problems/Datatable.vue';
---

<RootLayout>
  <h1>Problems</h1>

  <p class="mt-6 max-w-3xl leading-7">Our collection of bi-level problems</p>

  <Datatable client:load />
</RootLayout>
