@import 'tailwindcss';

/* 
  This is the global CSS file for the project which
  sets up some default styles for brevity and
  consistency across the application. 

  Please extend this sparingly and prefer using components
  styled with Tailwind CSS utility classes for most cases. 
*/

body {
  font-family:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.link {
  text-decoration: underline;
  color: blue;
  &:hover {
    text-decoration: none;
  }
}
