@import 'tailwindcss';
@import './shadcn.css';

/* 
  This is the global CSS file for the project which
  sets up some default styles for brevity and
  consistency across the application. 

  Please extend this sparingly and prefer using components
  styled with Tailwind CSS utility classes for most cases. 
*/

body {
  font-family:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1 {
  @apply text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

/* 
  Shiki dark mode support 
  https://shiki.style/guide/dual-themes#class-based-dark-mode
*/
html.dark .astro-code-themes,
html.dark .astro-code-themes span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}
