---
import CopyCode from '@/components/CopyCode.astro';
import RootLayout from '../layouts/RootLayout.astro';
import { Button } from '@/components/ui/button';
import { Mail } from 'lucide-vue-next';

const citation = `@report{bolib3,
    title = {BOLIB: Bilevel optimisation library for benchmarking},
    author = {Samuel Ward, Alain Zemkoho, Jordan Fisher, David Benfield, Yaru Qian},
    year = {2025},
    institution = {University of Southampton}
}`;

const email = 's.ward@soton.ac.uk';
---

<RootLayout title="About - BOLIB">
  <h1>About</h1>

  <p class="mt-6 max-w-3xl leading-7">
    This is a collection of continuous bilevel optimization problems form a range of applications.
    The project is in it's third iteration. For the original library which is no longer maintained,
    see
    <Button variant="link" class="p-0">
      <a href="https://github.com/ShenglongZhou/BOLIB"> BOLIB (deprecated). </a>
    </Button>
  </p>

  <h3 class="mt-6">Contributing</h3>

  <p class="mt-6 max-w-3xl leading-7">
    We welcome contributions of new bilevel problems, datasets, and improvements to existing
    instances. Please see <Button variant="link" class="p-0">
      <a href="https://github.com/bolib3/bolib3.github.io/blob/main/CONTRIBUTING.md">
        our contribution guidelines.
      </a>
    </Button>
  </p>

  <h3 class="mt-6">Citing</h3>

  <p class="mt-6 max-w-3xl leading-7">
    If you use these benchmarks in your research, please cite our work to help support the
    community.
  </p>

  <CopyCode
    code={citation}
    lang="bibtex"
    themes={{ light: 'github-light-default', dark: 'github-dark-default' }}
    defaultColor="light"
    class="max-w-xl"
  />

  <h3 class="mt-6">Contact</h3>

  <p class="mt-6 max-w-3xl leading-7">
    For questions, citing information, collaboration opportunities, or to report corrections, please
    get in touch using the contact details below.
  </p>

  <Button class="mt-4 mb-16">
    <Mail />
    <a href={`mailto:${email}`}>
      {email}
    </a>
  </Button>
</RootLayout>
