---
import CopyCode from '@/components/CopyCode.astro';
import RootLayout from '../layouts/RootLayout.astro';
import { Button } from '@/components/ui/button';

const citation = `@report{lorem:2024,
    title = {Lorem ipsum dolor sit amet},
    author = {John Doe},
    year = {2024},
    institution = {University of Lorem Ipsum},
    address = {1234 Lorem St, Ipsum City, IL 12345}
}`;
---

<RootLayout>
  <h1>About</h1>

  <p class="mt-6 max-w-3xl leading-7">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore eum laboriosam dolorum
    atque, cupiditate dignissimos delectus odit qui cumque odio tenetur. Dolor vero earum corporis
    eaque iure nam voluptatem!
  </p>

  <h3 class="mt-6">Contributing</h3>

  <p class="mt-6 max-w-3xl leading-7">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Please see <Button
      variant="link"
      class="p-0"
    >
      <a href="https://github.com/jdjfisher/bilevel-benchmarking/blob/main/CONTRIBUTING.md">
        this guide.
      </a>
    </Button>

    <h3 class="mt-6">Citing</h3>

    <p class="mt-6 max-w-3xl leading-7">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <CopyCode
      code={citation}
      lang="bibtex"
      themes={{ light: 'github-light-default', dark: 'github-dark-default' }}
      defaultColor="light"
      class="max-w-xl"
    />
  </p>
</RootLayout>
