---
import RootLayout from '../layouts/RootLayout.astro';
import { Button } from '@/components/ui/button';
import { Mail } from 'lucide-vue-next';

const email = 's.ward@soton.ac.uk';
---

<RootLayout>
  <h1>Contact</h1>

  <p class="mt-6 max-w-3xl leading-7">
    For questions, citing information, collaboration opportunities, or to report corrections,
    please get in touch using the contact details below.
  </p>

  <Button class="mt-4">
    <Mail />
    <a href={`mailto:${email}`}>
      {email}
    </a>
  </Button>
</RootLayout>
