---
import RootLayout from '../layouts/RootLayout.astro';
import { Button } from '@/components/ui/button';
import { Mail } from 'lucide-vue-next';

const email = 'lorem@example.com';
---

<RootLayout>
  <h1>Contact</h1>

  <p class="mt-6 max-w-3xl leading-7">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis ducimus dicta sit
    repellendus numquam maxime eius magni quis. Ducimus nihil rem culpa architecto porro ipsam,
    officia consequuntur commodi veritatis.
  </p>

  <Button class="mt-4">
    <Mail />
    <a href={`mailto:${email}`}>
      {email}
    </a>
  </Button>
</RootLayout>
