---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
  <h1>Downloads</h1>

  <p class="mt-6 max-w-3xl leading-7">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore eum laboriosam dolorum
    atque, cupiditate dignissimos delectus odit qui cumque odio tenetur. Dolor vero earum corporis
    eaque iure nam voluptatem!
  </p>
</RootLayout>
