---
import RootLayout from '../layouts/RootLayout.astro';
import DownloadProblemCollection from '../components/DownloadProblemCollection.vue';
import Datatable from '@/components/datasets/Datatable.vue';
import DownloadDatasetCollection from '../components/DownloadDatasetCollection.vue';

import { Button } from '@/components/ui/button';
import { datasets, problems } from '@/lib/data';
---

<RootLayout title="Downloads - BOLIB">
  <h1>Downloads</h1>

  <p class="mt-6 max-w-3xl leading-7">
    For the benchmarking of algorithms against multiple problems, we recommend researchers pull the
    full library from
    <Button variant="link" class="p-0">
      <a href="https://github.com/bolib3/bolib3"> bolib3 github repository </a>
    </Button>
    where additional components to assist automation have been included Alternatively, you can download
    zip files containing the full set of problems here.
  </p>

  <div class="grid gap-x-16 gap-y-8 md:grid-cols-5">
    <div class="col-span-2">
      <h2 class="mt-12 text-2xl font-bold">Problem collections</h2>

      <p class="text-muted-foreground mt-6 max-w-3xl leading-7">
        Download all of the available problems in a single zip file for a chosen language.
      </p>

      <DownloadProblemCollection client:only />
    </div>

    <div class="col-span-3 overflow-x-auto">
      <h2 class="mt-12 text-2xl font-bold">Datasets</h2>

      <p class="text-muted-foreground mt-6 max-w-3xl leading-7">
        Many of the problems are parameterized by datasets, which can be searched and downloaded
        below.
      </p>

      <DownloadDatasetCollection client:load />

      <Datatable datasets={datasets} problems={problems} client:load />
    </div>
  </div>
</RootLayout>
