---
import SplashArt from '@/components/SplashArt.astro';
import RootLayout from '../layouts/RootLayout.astro';
import { Button } from '@/components/ui/button';
import { Search } from 'lucide-vue-next';
---

<RootLayout>
  <h1>BOLIB</h1>

  <div class="grid gap-4 md:grid-cols-2">
    <div>
      <p class="mt-6 max-w-3xl leading-7">
        Welcome to BOLIB, a benchmarking library of continuous bilevel optimization problems.
      </p>

      <div class="mt-4 flex items-center gap-2">
        <Button>
          <Search />
          <a href="/problems"> Browse Problems </a>
        </Button>

        <Button variant="ghost">
          <a href="/downloads"> Download collection </a>
        </Button>
      </div>
    </div>

    <SplashArt />
  </div>
</RootLayout>
