---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
  <h1 class="text-4xl font-bold">Bi-level benchmarking</h1>

  <p class="max-w-2xl">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis nulla quam consequatur. Sed
    eligendi odit vel. Quos ab, rerum adipisci maiores excepturi possimus aut dignissimos alias sit
    quo at nobis.
  </p>
</RootLayout>
