---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout>
  <h1 class="text-9xl text-center mb-8">Bilevel benchmarking</h1>

  <div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis nulla quam consequatur. Sed
      eligendi odit vel. Quos ab, rerum adipisci maiores excepturi possimus aut dignissimos alias
      sit quo at nobis.
    </p>

    <a href="/problems">Problems</a>
  </div>
</RootLayout>
