---
import RootLayout from '../layouts/RootLayout.astro';
import Datatable from '../components/problems/Datatable.vue';
---

<RootLayout>
  <h1 class="text-4xl font-bold">Problems</h1>

  <p class="text-lg font-light">Our collection of bi-level problems</p>

  <Datatable client:load />
</RootLayout>
