---
import { Code } from 'astro:components';
import CopyToClipboard from './CopyToClipboard.vue';
import type { ComponentProps } from 'astro/types';

type Props = ComponentProps<typeof Code>;

const { code, class: className, ...other } = Astro.props;
---

<div class:list={['relative', className]}>
  <Code code={code} {...other} class="p-4 text-xs" />

  <CopyToClipboard class="absolute top-2 right-2" text={code} client:load />
</div>
