---
import { problems } from '@/lib/data';

const count = problems.reduce((acc, problem) => {
  return acc + problem.variants.length;
}, 0);

const digits = count.toString().padStart(3, '0').split('');
---

<div class="flex items-center gap-2">
  Total problems to date

  <div class="flex items-center gap-0.5">
    {
      digits.map((digit) => (
        <span class="bg-primary text-secondary p-1 font-mono text-xs">{digit}</span>
      ))
    }
  </div>
</div>
