---
import '@/styles/global.css';
import Header from '@/components/header/Header.astro';
import Footer from '@/components/Footer.astro';
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BOLIB-3</title>

    <script is:inline>
      const theme = localStorage.getItem('theme');

      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      }
    </script>
  </head>
  <body class="mx-auto flex min-h-screen max-w-[1536px] flex-col">
    <Header />
    <main class="flex-grow px-4 py-6">
      <slot />
    </main>
    <Footer />
  </body>
</html>
